<app-menu></app-menu>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">Create a customer</h4>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="fullName">Full Name:</label>
              <input
                type="text"
                class="form-control"
                name="fullName"
                id="fullName"
                [(ngModel)]="client.fullName"
                placeholder="Enter your full name"
                required
              />
            </div>

            <div class="form-group">
              <label for="idNumber">Identification Number:</label>
              <input
                type="text"
                name="idNumber"
                id="idNumber"
                class="form-control"
                [(ngModel)]="client.idNumber"
                placeholder="Enter your identification number"
                required
              />
            </div>

            <div class="form-group">
              <label for="address">Residence Address:</label>
              <input
                type="text"
                id="address"
                name="address"
                class="form-control"
                [(ngModel)]="client.address"
                placeholder="Enter your residential address"
                required
              />
            </div>

            <div class="form-group">
              <label for="phoneNumber">Phone Number:</label>
              <input
                type="text"
                name="phoneNumber"
                id="phoneNumber"
                class="form-control"
                [(ngModel)]="client.phoneNumber"
                placeholder="Enter your phone number"
                required
              />
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input
                  type="text"
                  id="email"
                  name="email"
                  class="form-control"
                  [(ngModel)]="client.email"
                  placeholder="Enter your email"
                  required
                />
            </div>

            <div class="form-group">
              <label for="city">Select the city:</label>
              <select
                id="city"
                name="city"
                class="form-control"
                [(ngModel)]="selectedCity"
                (change)="onCitySelected()"
              >
                <option *ngFor="let city of cities" [value]="city">
                  {{ city }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="dealer">Select the concessionaire:</label>
              <select
                id="concessionaires"
                name="concessionaires"
                class="form-control"
                [(ngModel)]="selectedConcessionaire"
                (change)="onConcessionaireSelected()"
              >
                <option *ngFor="let concessionaire of concessionaires" [value]="concessionaire">
                  {{ concessionaire }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="locality">Select the locality:</label>
              <select
                id="locality"
                name="locality"
                class="form-control"
                [(ngModel)]="selectedLocality"
              >
                <option *ngFor="let locality of localities" [value]="locality">
                  {{ locality }}
                </option>
              </select>
            </div>
            <br />

            <div class="form-group text-center">
              <button class="gradient-button" id="btnCreateCustomer">Save Customer</button>
              <span class="button-spacing"></span>
              <a routerLink="/clients" class="button-cancel">
                Cancel
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>