.container {
    height: 100vh;
    display: flex; 
    flex-direction: column;
    margin-top: 0;
}

.table-container {
    min-height: calc(100vh - 120px);
    overflow: auto;
}
  
.navbar {
    background: linear-gradient(135deg, #005499, #003366);
    color: white;
    height: 70px;
}

.navbar a {
    color: white;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#ffffff, #cccccc) fixed;
    color: #333;
}

table {
    max-width: 100%;
    border-collapse: collapse;
    width: 100%;
    margin-top: 0;
    background-color: white;
    font-size: 15px;
}


table td {
    border: 1px solid black;
    background-color: white;
}

th {
    background: #406A8C;
    color: white;
    padding: 10px;
}

h2.display-4 {
    font-size: 20px;
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.gradient-button {
    background: #406A8C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.gradient-button:hover {
    background:linear-gradient(135deg, #005499, #003366);
}

.gradient-button:focus {
    outline: none; 
}

.card {
    background-color: #ffffff; 
    border: 2px solid #e0e0e0; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-top: 10px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s; 
}

.card-header {
    background-color: #406A8C; 
    color: white; 
    font-weight: bold; 
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 30px;
    padding-left: 30px;
}


.btn-info-custom {
    background-color: #1390BF;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s; 
}

.btn-info-custom:hover {
    background-color: #0b607e;
}

.button-cancel {
    background-color: #AF1414; 
    border-radius: 5px;
    text-decoration: none;
    padding: 13.5px 20px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
}

.button-cancel:hover {
    background-color: #8D0E0E;
}

.button-spacing {
    margin-left: 25px; 
}